body {
    font-family: Times New Roman;
    background-color: #ff9f72;
    text-align: center;
    padding: 50px;
  }
  
  .todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(250, 4, 4, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    color: #333;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #taskInput {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #addTaskBtn {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  #addTaskBtn:hover {
    background-color: #218838;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #c82333;
  }
  